
body{
	line-height: 1.5;
	font-family: sans-serif;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
/*.gallery*/
.gallery{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-color: #1f3238;
	padding: 100px 0;
}
.gallery .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.gallery .gallery-filter .filter-item{
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
}
.gallery .gallery-filter .filter-item.active{
	color: #ff9800;
	border-color : #ff9800;
}
.gallery .gallery-item{
	width: calc(100% / 3);
	padding: 15px;
}
.gallery .gallery-item-inner img{
	width: 100%;
}
.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 767px){
    .gallery .gallery-item{
		width: 100%;
	}	
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.lightbox-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}
.lightbox-img {
    width: 100%;
    height: auto;
}
.close-btn, .prev-btn, .next-btn {
    position: absolute;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.close-btn {
    top: 10px;
    right: 10px;
}
.prev-btn {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.next-btn {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Scale and darken effect */
.gallery-item:hover img {
	filter: brightness(1.15);
    transform: scale(1.1);
    opacity: 0.8;
}

/* Overlay effect on hover */
.gallery-item-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-item-inner::before {
    opacity: 1;
}

/* Text overlay on hover */
.gallery-item-inner .titleBox {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .titleBox {
    opacity: 1;
}
